@import "../utility/centered";

body, input { font: 95%/1.2 'Open Sans', Helvetica, sans-serif; }

.check-mark {
	font-weight: bold;
}

.disclaimer { font-weight: 600; }

legend { font-size: 125%; }

input {
	.placeholder({ font-weight: bold; });
	&[type="submit"] { font-weight: 600; }
}

.persisted-placeholder {
	font-size: 65%;
	font-weight: bold;
}
