// Some selectors depend on persist-placeholder.js and validate.js

@import "../base/colors";
@import "../css3/border-radius";
@import "../css3/box-shadow";
@import "../css3/placeholder";

.form {
	input {
		background: @gray_form;
		border: 1px solid darken(@gray_form, 20%);
		color: darken(@gray_placeholder, 20%);
		height: 18px;
		padding: 10px;
		width: 302px;

		&.left-column { width: 165px; }

		&.make-way { padding: 16px 10px 4px; }

		&.right-column { width: 115px; }

		&[type="submit"] {
			.border-radius(15px);
			background: @green;
			border: 0;
			color: #fff;
			height: inherit;
			margin-bottom: 30px;
			padding: 5px;
			width: 220px;

			&:hover {
				background: darken(@green, 10%);
				cursor: pointer;
			}
		}

		&.validate {
			&:invalid {
				background: mix(@gray_form, red, 75%);
				&+.check-mark {
					opacity: 0;
					right: -20px;
				}
			}
			&:valid {
				background: mix(@gray_form, @green, 75%);
				&+.check-mark {
					opacity: 1;
					right: 7px;
					transition: 1s;
				}
			}
		}
		
	}

	:invalid { .box-shadow(none); }

	label { display: none; }

	fieldset {
		border: 2px solid darken(@gray_form, 20%);
		.border-radius(3px);
		margin: 25px auto;
		width: 324px;
	}

	.input-container {
		display: block;
		float: left;
		position: relative;
		.check-mark {
			border: 3px solid @green;
			.border-radius(20px);
			color: @green;
			opacity: 0;
			position: absolute;
			right: -20px;
			top: 7px;
		}
	}

	.persisted-placeholder {
		color: #777;
		display: none;
		left: 11px;
		position: absolute;
		top: 2px;
	}
}
