// This is certainly overkill for a single widget, but I want
// to show how I like organize styles when using a preprocessor.
// Normally I would use this file just for layout and move other styles
// seen here to "base/typography", "base/colors", "base/utility", etc.

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@import "../styles/base/colors";
@import "../styles/lib/meyer-reset.css";
@import "modules/form";

@green: #2fc877;

.centered { margin: 0 auto; }

a {
	color: @blue_link;
	text-decoration: none;
	&:hover {
		border-bottom: 2px solid @blue_link;
		color: darken(@blue_link, 10%);
	}
}

body {
	background: #333;
	margin: 30px;
}

.disclaimer { margin: auto 30px; }

header {
	font-size: 22px;
	margin: 15px 30px;
}

main {
	background: #fff url(../img/footer-banner.png) no-repeat bottom center;
	.border-radius(3px);
	.centered;
	//.clearfix; // not working. using overflow clearfix for now.
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
	width: 480px;
}

.registration {
	.form;
}

// Typography

body, input { font: 16px 'Open Sans', Helvetica, sans-serif; }

.disclaimer { font-weight: 600; }
