@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@import "lib/meyer-reset.css";
@import "base/colors";
@import "base/typography";
@import "utility/centered";
@import "modules/form";

a {
	color: @blue_link;
	text-decoration: none;
	&:hover {
		border-bottom: 2px solid @blue_link;
		color: darken(@blue_link, 10%);
	}
}

body {
	background: #333;
	margin: 30px;
}

.disclaimer { margin: auto 30px; }

header { margin: 15px 30px; }

main {
	background: #fff url(../img/footer-banner.png) no-repeat bottom center;
	.border-radius(3px);
	.centered;
	//.clearfix; // not working. using overflow clearfix for now.
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
	width: 480px;
}

.registration {
	.form;
}
