@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@import "lib/meyer-reset.css";
@import "base/colors";
@import "base/typography";
@import "utility/centered";
@import "utility/clearfix";
@import "css3/animation";
@import "css3/horizontal-gradient";
@import "css3/border-radius";
@import "pseudo/progress-bar";
@import "modules/form";

a {
	color: @blue_link;
	text-decoration: none;
	&:hover {
		border-bottom: 2px solid @blue_link;
		color: darken(@blue_link, 10%);
	}
}

body {
	background: #333;
	margin: 30px;
}

.disclaimer { margin: auto 30px; }

legend { margin: 20px auto 15px; }

main {
	background: #fff url(../img/footer-banner.png) no-repeat bottom center;
	.border-radius(3px);
	.centered;
	.clearfix;
	padding-top: 20px;
	text-align: center;
	width: 480px;
}

.keyframes(slide-in; {
	0% { left: -100px; opacity: 0; }
	100% { left: 0; opacity: 1; }
});

progress {
	height: 10px;
	overflow: hidden;
	.progress-bar({
		background: @gray_progress;
		background-size: 35px 10px, 100% 100%, 100% 100%;
		.border-radius(3px);
	}, {
		.animation(slide-in 5s linear 1);
		.border-radius(3px);
		.horizontal-gradient(@yellow, @green);
		position: relative;
	});
	width: 400px;
}

.registration {
	.form; // How a module gets consumed
	padding-bottom: 45px;
}
